@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');











/*---Media Queries --*/
@media (max-width: 992px) {

  }
@media (max-width: 768px) {
  
}
@media (max-width: 576px) {
  
}



.logo {
  display: inline-block;
  vertical-align: top;
  width: 50px;
  height: 50px;
  margin-right: 20px;
  margin-top: 15px;    /* if you want it vertically middle of the navbar. */
}
#pp {
  background-color: blue;
  border-bottom-color: yellow;
}
#pp a:hover{
  border-bottom: 2px solid red;
}
#pp li.active{
  border-bottom: 2px solid orange;
}
#pp .navbar-brand:hover{
  border-bottom:0px solid white;
}
.nav-item{
  font-size: small;
  font-family: 'Franklin Gothic Medium';
  border-bottom-color: yellow;
}
.nav-item a:hover{
  border-bottom: 2px solid black;
}
.nav-item.active {
  border-bottom: 2px solid black;
}

.big-banner{
  background-image: url(pictures/bg.jpg);
  }
  body, html { 
    height: 100%;
  }

  .bg { 
    /* The image used */
    background-image: url(pictures/bg.jpg);
  
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.name{
  font-size: 50px;
  color: beige;
  padding-top: 12%;
  padding-bottom: 0%;
  font-family:'Franklin Gothic Medium';
}
.backtext{
  font-family: 'Franklin Gothic Medium';
  font-size: 50px;
  color:rgb(119, 119, 94);
  font-family: 'Franklin Gothic Medium';
  margin:0%;
}


/*footer*/
footer{
  background-color: rgb(109, 96, 60);
  color: white;
  padding-top: 20px;
}
.social a{
  font-size:40px;
}
.fa-linkedin:hover {
  color:violet;
}

/*img carousel*/
#carouselExampleIndicators img{ 
  width: 30rem;
  height: 60rem;

}
.carouselpad {
  padding: 0 5% 0 5%;
  margin: 2% 17% 2% 17%;
}
